.error {

  &-title {
    margin-top: 165px;
    margin-bottom: 300px;
    width: 50vw;

    h2 {
      font-size: 32px;
      line-height: 1.07143;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .error-code {
      font-size: 15px;
      color: #999;
      letter-spacing: .02em;
      margin: 20px 0;
      font-weight: 300;
      line-height: 1.46667;
    }

    .error-message {
      font-size: 20px;
      color: #000;
      letter-spacing: .025em;
      font-weight: 200;
      margin-bottom: 45px;
      line-height: 1.5;

      a {
        border-bottom: solid 1px #000;
        transition: 0.3s;
      }

      a:hover {
        border-bottom: solid 1px #fff;
        transition: 0.3s;
      }
    }
  }
}